.advantages {
  width: 100%;

  &__wrapper {
    width: 280px;
    margin: 0 auto;

    @media (min-width: @tablet-width) {
      width: 708px;
    }

    @media (min-width: @desktop-width) {
      width: 1220px;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;

    @media (min-width: @desktop-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    background-color: @basic-grey;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;

    &__item:not(:last-child) {
      margin-bottom: 27px;
    }

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 1fr 250px;
      grid-template-rows: 80px 144px 1fr;
      height: 372px;
      padding-left: 52px;
      margin-bottom: 45px;
      padding-top: 70px;
    }

    @media (min-width: @desktop-width) {
      &:nth-child(odd) {
        margin-right: 80px;
      }

      max-width: 570px;
      margin-bottom: 72px;
      display: flex;
    }
  }


  &__title {
    order: 1;
    margin: 0;
    margin-top: 18px;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 24px;
    line-height: 24px;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-row-start: 1;
      font-size: 36px;
      line-height: 36px;
    }
  }

  &__description {
    order: 2;
    margin: 0;
    color: @special-dark-grey;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 23px;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      margin-right: 17px;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 48px;
      color: #000;
    }
  }

  &__logo {
    order: 0;
    margin-right: 19px;
    margin-bottom: 22px;

    @media (min-width: @tablet-width) {
      width: 200px;
      height: 200px;
      grid-column-start: 2;
      grid-row-start: 1;
      grid-row-end: -2;
      margin: 0;
    }

    @media (min-width: @desktop-width) {
      width: 100px;
      height: 100px;
      margin-right: 62px;
      margin-bottom: 39px;
    }
  }

  &__logo:nth-child(2) {
    @media (min-width: @tablet-width) {
      min-width: 268px;
    }
  }

  hr {
    width: 100%;
    order: 3;
    margin: 0;
    margin-bottom: 15px;
    border: 1px solid #d9d9d9;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &__link {
    text-transform: uppercase;
    order: 4;
    position: relative;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
    }

    @media (min-width: @desktop-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__link::after {
    content: '';
    width: 24px;
    height: 12px;
    position: absolute;
    left: 100px;
    top: 3px;
    background-image: url('../../img/arrow.svg');
    background-size: 100%;

    @media (min-width: @desktop-width) {
      top: 10px;
      left: 120px;
    }
  }
}
