@color-grey: #eaeaea;

.example {
  text-align: left;
  background-color: @color-grey;
  padding-top: 27px;
  position: relative;

  @media (min-width: @tablet-width) {
    background: linear-gradient(0deg, @color-grey 50%, #fff 50%);
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(0deg, #eaeaea 75%, #fff 25%);
    height: 656px;
  }

  &__wrapper {
    margin: 0 auto;
    width: 280px;
    position: relative;

    @media (min-width: @tablet-width) {
      width: 708px;
    }

    @media (min-width: @desktop-width) {
      width: 1227px;
    }
  }

  &__title {
    font-size: 36px;
    line-height: 40px;
    margin: 0;
    margin-bottom: 33px;

    @media (min-width: @tablet-width) {
      font-size: 60px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 146px;
      margin-top: 69px;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 18px;
    color: #444;
    margin: 0;
    margin-bottom: 25px;

    @media (min-width: @tablet-width) {
      font-size: 16px;
      line-height: 24px;
    }

    @media (min-width: @desktop-width) {
      width: 436px;
      margin-bottom: 50px;
    }
  }

  &__indicators {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    @media (min-width: @tablet-width) {
      display: inline;
    }
  }

  &__indicator {
    width: 124px;
    height: 64px;
    border: 2px solid @special-grey-2;
    .flex-center();
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 24px;
    line-height: 24px;
    border-radius: 3px;
    text-transform: uppercase;

    @media (min-width: @tablet-width) {
      width: 162px;
      height: 77px;
      font-size: 30px;
      display: inline-flex;
      margin-right: 42px;
    }

    & legend {
      text-align: center;
      background-color: @color-grey;
      position: absolute;
      top: 50px;
      line-height: 12px;
      font-size: 12px;
      color: #444;
      padding: 0 16px 0 16px;
      font-family: arial;
      text-transform: lowercase;

      @media (min-width: @tablet-width) {
        font-size: 14px;
        line-height: 14px;
        white-space: nowrap;
        padding: 0 7px 0 7px;
        top: 67px;
        background-color: #fff;
      }

      @media (min-width: @desktop-width) {
        background-color: @color-grey;
      }
    }

    & legend br {
      @media (min-width: @tablet-width) {
        display: none;
      }
    }

    & b {
      margin-right: 5px;
    }
  }

  &__cost {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 42px;
    display: flex;

    @media (min-width: @tablet-width) {
      display: inline;
      position: absolute;
      right: 0;
      font-size: 20px;
      text-align: right;
      margin: 0;
      margin-top: 25px;
      margin-right: 30px;
    }

    @media (min-width: @desktop-width) {
      width: 345px;
      position: absolute;
      right: auto;
      left: 0;
      margin-top: 130px;
      text-align: left;
    }
  }

  &__cost br {
    display: none;

    @media (min-width: @tablet-width) {
      display: inline;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &__cost b {
    font-weight: 400;

    @media (min-width: @desktop-width) {
      margin-right: 63px;
    }
  }

  &__picture {
    width: 311px;
    height: 232px;
    object-fit: contain;
    margin-bottom: 35px;

    @media (min-width:@tablet-width) {
      width: 690px;
      height: 517px;
      margin-top: 60px;
    }

    @media (min-width: @desktop-width) {
      position: absolute;
      right: 0;
      top: -140px;
    }
  }

  &__filter {
    text-align: center;
    padding-bottom: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: @desktop-width) {
      width: 579px;
      margin-left: auto;
      margin-right: 0;
      margin-top: 50px;
    }

    & b {
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;

      @media (min-width: @tablet-width) {
        font-size: 20px;
        line-height: 30px;
      }
    }


  }
}

input[type=range] {
  appearance: none;
  cursor: pointer;
  border: 2px solid @special-grey-2;
  border-radius: 50px;
  margin: 0 18px;
  padding: 4px 6px;

  @media (min-width: @tablet-width) {
    width: 428px;
    padding: 0;
    border-radius: 6px;
    height: 6px;
    background-color: #dcdcdc;
  }

  @media (min-width: @desktop-width) {
    width: 428px;
  }
}

input[type=range]:focus::-ms-fill-lower {
  background-color: @basic-green;
}

input[type=range]:focus::-ms-fill-upper {
  background-color: red;
}

input[type=range]::-webkit-slider-thumb {
  width: 35px;
  height: 6px;
  background-color: @basic-green;
  border-radius: 50px;
  -webkit-appearance: none;

  @media (min-width: @tablet-width) {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.16));
    background: radial-gradient(@basic-green 25%, #fff 27%);
  }

}
