.map {
  width: 320px;
  text-align: left;

  .map-top {
    width: 280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0 28px 0;

    @media (min-width: @tablet-width) {
      width: 625px;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0;

    @media (min-width: @tablet-width) {
      font-size: 20px;
    }
  }

  &__address {
    font-size: 14px;
    line-height: 20px;
    color: @special-dark-grey;
    font-style: normal;
    font-family: 'Arial';

    @media (min-width: @tablet-width) {
      font-size: 20px;
      text-align: right;
    }
  }

  &__location {
    width: 100%;

    @media (min-width: @tablet-width) {
      height: 400px;
    }
  }
}
