.map {
  width: 320px;
  text-align: left;

  .map-top {
    width: 280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0 28px 0;
  }

  &__description {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0;
  }

  &__address {
    font-size: 14px;
    line-height: 20px;
    color: @special-dark-grey;
    font-style: normal;
    font-family: 'Arial';
  }

  &__location {
    width: 100%;
  }
}
