.black-text {
  color: #000;
}

.input-field() {
  border: 1px solid #E7E7E7;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding: 15px 0 15px 15px;
  color: @special-dark-grey;
}

.margin-left() {
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    margin-left: 69px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
  }
}

.margin-right() {
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    margin-right: 69px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 110px;
  }
}

.star-mark::after {
  content: '*';
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-weight: 'Oswald', sans-serif;
}

.legend() {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-bottom: 35px;
  padding-left: 20px;
  padding-right: 22px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 57px;
    margin-left: 35px;
    padding-left: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 40px;
    margin-left: 70px;

  }
}

.form-fieldset() {
  border-top: 2px solid @basic-green;
  border-bottom: none;
  border-right: none;
  border-left: none;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
}

.program-selection {
  text-align: left;

  &__title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    margin: 27px 0 37px 0;
    .margin-left();

    @media (min-width: @tablet-width) {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 54px;
    }
  }

  &__description {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    margin-bottom: 39px;
    .margin-left();

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 66px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    @media (min-width: @tablet-width) {
      margin-bottom: 72px;
    }
  }

  .first-selection-form {


    @media (min-width: @desktop-width) {
      display: flex;
      .margin-right();
    }
  }

  &__filling-form {
    border: none;
    padding: 0;
    .margin-left();
    .margin-right();
    display: flex;
    flex-direction: column;

    @media (min-width: @tablet-width) {
      margin-bottom: 72px;
    }

    @media (min-width: @desktop-width) {
      display: inline-flex;
      margin-bottom: 69px;
      margin-right: 80px;
      flex-grow: 1;
    }
  }

  &__filling-form div {
    display: flex;
    align-items: center;

    @media (min-width: @tablet-width) {
      // margin-right: 110px;
    }

    @media (min-width: @desktop-width) {
      width: 569px;
      height: 52px;
    }
  }

  &__filling-form div:not(:last-child) {
    margin-bottom: 13px;

    @media (min-width: @desktop-width) {
      margin-bottom: 20px;
    }
  }

  &__filling-form div label {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: @special-dark-grey;
    margin-right: 16px;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .form-field {
    .input-field();
    flex-grow: 1;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__weight {
    border: none;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    margin-top: 24px;
    margin-bottom: 26px;
    padding: 0;
    padding-top: 22px;
    padding-bottom: 19px;
    flex-grow: 1;

    @media (min-width: @tablet-width) {
      border: 1px solid #d9d9d9;
      .margin-left();
      .margin-right();
    }

    @media (min-width: @desktop-width) {
      width: 568px;
      height: 200px;
      border: 1px solid #d9d9d9;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding: 0 0 0 28px;
    }
  }

  &__weight div label {
    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__weight div {
    display: flex;
    align-items: center;
    .margin-left();

    @media (min-width: @tablet-width) {
      margin-left: 25px;
    }

    @media (min-width: @desktop-width) {
      padding: 0;
      margin: 0;
      height: 40px;
    }
  }

  &__weight div:not(:last-child) {
    margin-bottom: 13px;
  }

  &__weight div input {
    appearance: none;
    display: flex;
    align-items: center;

    @media (min-width: @desktop-width) {
      min-width: 40px;
      min-height: 40px;
    }
  }

  &__weight div input::after {
    content: '';
    width: 30px;
    height: 30px;
    position: relative;
    border: 1px solid #CDCDCD;
    margin-right: 15px;
    border-radius: 50%;
  }

  &__weight div input:checked::after {
    content: '';
    background: radial-gradient(@basic-green 30%, #fff 35%);
  }

  &__weight label {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 18px;
    font-weight: 400;
    color: @special-dark-grey-2;
  }

  &__contact {
    .form-fieldset();

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: -1;
      display: flex;
    }
  }

  &__contact legend {
    .legend();
  }

  &__contact legend br {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &__contact div {
    display: flex;
    align-items: center;
    .margin-left();
    .margin-right();
    flex-grow: 1;

    @media (min-width: @desktop-width) {
      margin: 0;
    }
  }

  &__contact div:first-of-type {
    @media (min-width: @desktop-width) {
      .margin-left();
    }
  }

  &__contact div:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: @tablet-width) {
      margin-bottom: 20px;
    }

    @media (min-width: @desktop-width) {
      margin-right: 78px;
    }
  }

  &__contact div:last-of-type {
    @media (min-width: @desktop-width) {
      .margin-right();
    }
  }

  &__contact div label {
    text-transform: uppercase;
    margin-right: 10px;
    color: @special-dark-grey;
  }

  &__contact div input {
    flex-grow: 1;
    .input-field()
  }

  &__comment {
    .form-fieldset();

    @media (min-width: @desktop-width) {
      display: flex;
    }
  }

  &__comment legend {
    .legend();
  }

  &__comment div {
    display: flex;
    .margin-left();
    .margin-right();

    @media (min-width: @desktop-width) {
      width: 100%;
    }
  }

  &__comment div textarea {
    .input-field();
    margin: 0;
    height: 150px;
    flex-grow: 1;

    @media (min-width: @desktop-width) {
      height: 174px;
    }
  }

  &__additionally {
    .form-fieldset();
    display: flex;
    flex-direction: column;
    margin: 0;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 32px;
      margin-bottom: 40px;
    }

    @media (min-width: @desktop-width) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__additionally legend {
    .legend();
  }

  &__additionally div {
    display: flex;
    align-items: center;
    .margin-left();
    margin-bottom: 13px;
  }

  @media (min-width: @desktop-width) {
    &__additionally div:first-of-type {
      .margin-left();
    }

    &__additionally div:last-child {
      .margin-right();
    }
  }

  &__additionally div label {
    color: #000;
    text-transform: uppercase;
  }

  &__additionally div input {
    min-width: 30px;
    min-height: 30px;
    border: 1px solid @special-grey-2;
    margin-right: 16px;
    appearance: none;

    @media (min-width: @tablet-width) {
      min-width: 40px;
      min-height: 40px;
    }
  }

  &__additionally div input:checked {
    background: url('../../img/checked.svg') 50% no-repeat;
    background-size: 50%;
  }

  & .send-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding: 7px 0 7px 0;
    background-color: @basic-green;
    border: none;
    width: 100%;

    @media (min-width: @tablet-width) {
      margin: 0;
      height: 52px;
      font-size: 20px;
    }
  }

  & .required-fields {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 16px;
    font-family: Arial;
    align-items: center;
    display: inline-flex;

    @media (min-width: @tablet-width) {
      font-size: 16px;
      margin-left: 70px;
    }
  }

  & .required-fields::before {
    content: '* —';
    padding-right: 5px;
  }

  & .send-block {
    .margin-left();
    .margin-right();

    @media (min-width:@tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
