/* Global */

@import 'global/global.less';
@import 'global/normalize.less';
@import 'global/variables.less';
@import 'global/fonts.less';

/* Blocks */

@import "blocks/page.less";
@import "blocks/page-header.less";
@import "blocks/main-nav.less";
@import "blocks/page-main.less";
@import "blocks/food.less";
@import "blocks/advantages.less";
@import "blocks/performance.less";
@import "blocks/example.less";
@import "blocks/map.less";
@import "blocks/page-footer.less";

// Viewports

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
