.page-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.page-header__title {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-size: 24px;
}

.page-header__logo {
  display: flex;
}

.page-header__logo-image {
  width: 33px;
  height: 37px;

  @media (min-width: @tablet-width) {
    width: 60px;
    height: 50px;
    margin-right: 12px;
  }
}

.page-header-top-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 21px 0 21px;
  padding: 12px 0 22px 0;

  @media (min-width: @desktop-width) {
    padding-left: 110px;
  }
}

.page-header__toggle {
  border: none;
  width: 18px;
  height: 18px;
  background-color: transparent;
  position: relative;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__toggle::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  background-color: #000;
  clip-path: polygon(10% 0, 0 10%, 40% 50%, 0 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0, 49% 40%);
}
